#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

#logoname {
    color: black;
}

#logoname:hover {
    color: #0f8fff;
}

h2,
h1 {
    margin: 0rem 0 2rem;
}

h3 {
    margin: 0.75rem 0 0;
}
p {
    margin: 1rem 0 0;
    white-space: pre-line;
}

.socialIcon:hover {
    filter: drop-shadow(0 0 1em #0087ff);
}

a p:hover {
    color: #0f8fff;
}

.link {
    text-transform: lowercase;
}

.link-underlined {
    text-decoration: underline;
}

.link:hover {
    color: #0087ff;
}

a.active {
    color: #0087ff;
}

.wrapChildren {
    flex: 1 0 auto;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .wrapContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .wrapChildren {
        flex: 0 0 48%;
    }
}

#chakra-modal-drawer {
    height: 50vh;
}
