#root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logoimg {
    height: 44px;
    padding: 0;
    will-change: filter;
    transition: filter 300ms;
}
.logoimg:hover {
    filter: drop-shadow(0 0 0.7em #3ba7ff6d);
}

/*NAV layout*/
nav {
    display: flex;
    justify-content: space-between;
    height: 135px;
}

nav .link {
    padding: 1em;
    font-weight: 500;
    text-transform: lowercase;
}

nav .link:hover {
    color: #61dafbaa;
}

a.active {
    color: rgb(238, 84, 217);
}
